PORT=80
WEBAPP_URL=http://itb.localhost
WEBAPP_TAG=latest

REGISTRY_BANIAN=banianch
REGISTRY_DHI=dhi.io

API_URL=http://api.itb.localhost
API_TAG=latest
API_JSON_OUTPUT_PATH=output/json
API_JSON_FILENAME=data_modeler_structure.json
API_TEMPLATE_OUTPUT_PATH=output/templates