services:
  traefik:
    image: traefik:v3.6
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=true"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  itb-frontend:
    image: ${REGISTRY:-banianch}/itb:${WEBAPP_TAG:-latest}
    labels:
      traefik.http.routers.itb-frontend.rule: "Host(`itb.localhost`)"
      traefik.http.services.itb-frontend.loadbalancer.server.port: ${WEBAPP_PORT:-80}
    environment:
      - API_URL=${API_URL:-http://api.itb.localhost}
      - API_PORT=
      - WEBAPP_URL=${WEBAPP_URL:-http://itb.localhost}
      - WEBAPP_PORT=${WEBAPP_PORT:-80}
    volumes:
      - ./output/frontend:/app/data
      - pb_data:/app/pb/pb_data

  itb-api:
    image: ${REGISTRY:-banianch}/itb-api:${API_TAG:-latest}
    command: uvicorn main:app --host 0.0.0.0 --port ${API_PORT:-8000} --proxy-headers --forwarded-allow-ips=* --reload --reload-dir /app --log-level debug
    labels:
      traefik.http.routers.itb-api.rule: "Host(`api.itb.localhost`)"
      traefik.http.services.itb-api.loadbalancer.server.port: ${API_PORT:-8000}
    volumes:
      - ./output:/app/output
      - ./api/template_engine:/app/packages/template_engine
    environment:
      - WEBAPP_URL=http://itb-frontend
      - WEBAPP_PORT=
      - API_JSON_OUTPUT_PATH=${API_JSON_OUTPUT_PATH:-output/json}
      - API_JSON_FILENAME=${API_JSON_FILENAME:-data_modeler_structure.json}
      - API_TEMPLATE_OUTPUT_PATH=${API_TEMPLATE_OUTPUT_PATH:-output/templates}

  itb-docs:
    image: busybox
    labels:
      traefik.http.routers.itb-docs.rule: "Host(`itb.localhost`) && PathPrefix(`/docs`)"
      traefik.http.routers.itb-docs.middlewares: "docs-strip"
      traefik.http.middlewares.docs-strip.stripprefix.prefixes: "/docs"
      traefik.http.services.itb-docs.loadbalancer.server.port: 80
    command: httpd -f -p 80 -h /www
    volumes:
      - ./docs:/www:ro

volumes:
  pb_data:

networks:
  default:
    name: itb